page-td-experience {


    ion-content{
        div{
            padding-top: 3em;
            text-align: center;
            vertical-align: middle;
        }
    }
    ion-row{
        padding-bottom: 1em;
        text-align: center;
        vertical-align: middle;
        margin:0;
        width: 100%;
        height: 100px;

        ion-col{
            padding:0;
            margin:0;
            width: 100%;
            height: 100px;

            ion-card {
                padding:0;
                margin:0;
                width: 100%;
                height: 100%;
                background: darkgreen
            }
        }
    }
}

.contact-popover .popover-content{ width: 320px; }
    
